$clr_yellow: #F1A501;
$clr_white: #fff;
$clr_text_color: #5E6282;
$clr_light_yellow: #FFF1DA;
$clr_light_violet: #DFD7F9;
$clr_orange: #DF6951;
$clr_balck: #000;
$clr_violet: #6246E5;
$clr_blue: #39425D;
$clr_dark_blue: #181E4B;